body{
    background-color: wheat;
    
    h1{
        font-family: "Tektur", cursive;
    }
    h2{
        font-family: "Tektur", cursive;
    }

    p1{
        font-family: "Tektur", cursive;
    }

    .left{
        display: flex;
        width: 50%;
        background-color:aquamarine;
        
    }

    .right{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}